.DS_Store
__pycache__
*.swp
admin.json
users.csv
test-user-list.txt
rooms.json
test_rooms.json
tokens.csv
images
venv
data
matrix_locust/bsspeke

locust.csv_exceptions.csv
locust.csv_failures.csv
locust.csv_stats.csv
locust.csv_stats_history.csv
locust.html

# Environment variables with credentials
.env
